*.cs text eol=crlf
*.txt text eol=crlf

*.asset binary
*.fbx binary
*.tga binary
*.unity binary
*.prefab binary
*.meta binary
*.anim binary
*.controller binary
*.mat binary
*.png binary
*.jpeg binary
*.jpg binary
*.wav binary
*.mp3 binary

#testing if there is a way to exclude a * clasification
TagManager.asset diff
*Room.prefab diff

