*.cs text eol=crlf
*.txt text eol=crlf

*.fbx binary
*.tga binary
*.unity binary
*.prefab binary
*.asset binary
*.anim binary
*.controller binary
*.mat binary
*.png binary
*.jpeg binary
*.jpg binary
*.wav binary
*.mp3 binary
 TagManager.asset text